HW/xml_hw06/webpage.dtd

<!DOCTYPE webpage
[
<!ELEMENT homepage (head, body)>
<!ELEMENT head (title)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT body(banner, maintitle, rule, text, footer)>
<!ELEMENT banner EMPTY>
<!ELEMENT maintitle (#PCDATA)>
<!ELEMENT rule EMPTY>
<!ELEMENT text (para)>
<!ELEMENT para (#PCDATA)>
<!ELEMENT footer EMPTY>
<!ATTLIST banner source CDATA "topbanner.gif">
<!ATTLIST footer source CDATA "bottombanner.gif">
]
>