Classwork/class_xml_01/Final/startrek (1).xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="StarTrek">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OriginalSeries">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="movie" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title" />
                                        <xs:element type="xs:integer" name="date" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="NextGeneration">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="movie" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title" />
                                        <xs:element type="xs:integer" name="date" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Reboot">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="movie" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="title" />
                                        <xs:element type="xs:short" name="date" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
